<div class="ui container fluid topbar" id="top_bar">
    <div class="ui container">
        <div class="ui grid middle aligned inverted">


                <!-- ~/Views/Shared/Blocks/_InfoBar.cshtml -->
                @Html.Partial("Blocks/_InfoBar")


        </div>
    </div>
</div>